body{
    background: url(https://repository-images.githubusercontent.com/275387860/eb497480-0642-11eb-9aa3-ffdbb0e84246);
    border-width: 100px;
    border-left: 100px;
    background-size: 1200px; 
    background-repeat: no-repeat;
    backface-visibility:inherit;
    background-origin: border-box;
}